.password-reset {
  height: 100vh;
  /*styling concerning its children*/
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 20% 60% 20%;
}

.purple-box {
  align-items: center;
  justify-items: center;
}

.heading-top {
  text-align: center;
  align-items: center;
}

.input {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 40%;
  height: 60%;
  border-radius: 2px;
}

.go-back {
  margin-right: auto;
  max-width: 8%;
  padding-left: 2%;
}

.go-back:hover {
  cursor: pointer;
}
